aiofiles==24.1.0
aiogram==3.17.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.7.0
APScheduler==3.6.3
argcomplete==3.6.2
asgiref==3.9.0
attrs==25.3.0
Automat==25.4.16
backoff==2.2.1
beautifulsoup4==4.12.3
blinker==1.9.0
bs4==0.0.2
build==1.2.2.post1
CacheControl==0.14.2
cachetools==4.2.2
certifi==2025.4.26
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
cleo==2.1.0
cli_helpers==2.7.0
click==8.1.7
click-default-group==1.2.4
cloudscraper==1.2.71
colorama==0.4.6
condense-json==0.1.3
configobj==5.0.9
constantly==23.10.4
crashtest==0.4.1
cryptography==44.0.2
cssselect==1.3.0
curl_cffi==0.11.1
decorator==5.2.1
defusedxml==0.7.1
delegator.py==0.1.1
distlib==0.3.9
distro==1.9.0
Django==5.2.4
dotenv==0.9.9
dulwich==0.22.8
environs==11.2.1
fastapi==0.116.0
fastjsonschema==2.21.1
filelock==3.18.0
findpython==0.6.3
Flask==3.1.0
frida==17.2.17
frida-tools==14.4.5
frozenlist==1.5.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
installer==0.7.0
isort==5.13.2
itemadapter==0.11.0
itemloaders==1.3.2
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
Jinja2==3.1.4
jiter==0.9.0
jmespath==1.0.1
Js2Py==0.74
keyring==25.6.0
litecli==1.16.0
llm==0.27.1
loguru==0.7.3
lxml==5.4.0
magic-filter==1.0.12
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.23.3
mdurl==0.1.2
more-itertools==10.7.0
msgpack==1.1.0
multidict==6.1.0
objection==1.11.0
openai==1.70.0
opentele==1.15.1
outcome==1.3.0.post0
packaging==25.0
parsel==1.10.0
pbs-installer==2025.4.9
pefile==2023.2.7
pendulum==3.1.0
pexpect==4.9.0
pillow==12.0.0
pipx==1.7.1
pkginfo==1.12.1.2
platformdirs==4.3.7
pluggy==1.6.0
poetry==2.1.2
poetry-core==2.1.2
prettytable==3.16.0
prompt_toolkit==3.0.52
propcache==0.2.1
Protego==0.4.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
puremagic==1.30
pyaes==1.6.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.10.4
pydantic_core==2.27.2
PyDispatcher==2.0.7
Pygments==2.18.0
pyinstaller==6.14.1
pyinstaller-hooks-contrib==2025.5
pyjsparser==2.7.1
pyodbc==5.2.0
pyOpenSSL==25.0.0
pyparsing==3.2.0
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
pyreadline3==3.5.4
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-telegram-bot==13.7
python-ulid==3.1.0
pytz==2025.2
pywin32-ctypes==0.2.3
PyYAML==6.0.2
queuelib==1.8.0
RapidFuzz==3.13.0
requests==2.32.3
requests-file==2.1.0
requests-toolbelt==1.0.0
rich==13.9.4
rsa==4.9
scrapfly-sdk==0.8.23
Scrapy==2.12.0
scrapy-rotating-proxies==0.6.2
selenium==4.33.0
semver==2.13.0
service-identity==24.2.0
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
sqlite-fts4==1.0.3
sqlite-migrate==0.1b0
sqlite-utils==3.38
sqlparse==0.5.3
starlette==0.46.2
svgwrite==1.4.3
tabulate==0.9.0
Telethon==1.41.2
TgCrypto==1.2.5
tiktok_downloader==0.3.5
tldextract==5.3.0
tomli==2.2.1
tomlkit==0.13.2
tornado==6.5.1
tqdm==4.67.1
Tree==0.2.4
trio==0.30.0
trio-websocket==0.12.2
trove-classifiers==2025.4.28.22
Twisted==24.11.0
typing==3.7.4.3
typing_extensions==4.13.2
tzdata==2025.2
tzlocal==5.3.1
undetected-chromedriver==3.5.5
urllib3==2.4.0
userpath==1.9.2
uvicorn==0.35.0
virtualenv==20.30.0
w3lib==2.3.1
wcwidth==0.2.13
websocket-client==1.8.0
websockets==13.1
Werkzeug==3.1.3
win32_setctime==1.2.0
wsproto==1.2.0
yarl==1.18.3
zope.interface==7.2
zstandard==0.23.0
